body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

#particles-js {
	height: 100%;
	background: #0d1227;
}

.heading {
    color: #fff;
    position: absolute;
    top: 250px;
    left: 0;
    text-align: center;
}

.heading h1 {
    text-transform: uppercase;
    font-size: 55px;
    text-align: center;
    font-weight: 700;
}

.heading h1 span {
    font-weight: 300;
    font-style: italic;
    text-transform: none;
}