/* fonts raleway and roboto */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {font-family:'Raleway', sans-serif;}

h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif;}

.slide-bg-1 {background-image: url(../img/slide-bg.jpg);}



.single-slide-item {
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: #2b0b2d;
}

.slide-line h1 {
    color: #fff;
    font-size: 89px;
    text-transform: uppercase;
    font-weight: 800;
}

.slide-line h4 {
    color: #fff;
    font-size: 27.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.slide-area {
    padding: 280px 0 431px;
}

.header-absolut {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    padding: 25px 0;
}

.section-padding {
    padding: 120px 0 0;
}

.self-area {
    margin-top: 120px;
}

.self-area h5 {
    font-size: 18px;
    margin-bottom: 30px;
}

.self-area p {
    line-height: 1.9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.boxed-btn {
    background: #ff2b4a;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: inline-block;
    padding: 18px 70px;
}

.self-area a {
    color: #fff;
    margin-top: 30px;
}

.working-process-section h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.working-process-section i.fa {
    font-size: 40px;
}

.title h1 {
    font-size: 43px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.title h5 {
    font-size: 18px;
}

.dark-bg .title {
    margin-bottom: 65px;
}

.dark-bg-section {
    background-color: #f6f6f6;
    padding: 100px 0 26px;
}

.title {
    margin-bottom: 50px;
}

.bg1 {
    background: #10c6fc;
    padding: 80px;
    color: #fff;
}

.bg2 {
    background-color: #835aeb;
    padding: 80px;
    color: #fff;
}

.bg3 {
    background-color: #002453;
    padding: 80px;
    color: #fff;
}

.bg4 {
    background-color: #ff2b4a;
    padding: 80px;
    color: #fff;
}

.work-and-education-bg {background-image: url(../img/work-and-education-bg.jpg);}

.work-experience-section .title h2 {
    font-size: 26px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
}

.work-experience-section {
    color: #fff;
    padding: 50px;
    margin: 124px 0;
}

.heading h4 {
    font-size: 18px;
    font-weight: 700;
}


.text-blog-bg {background-image: url(../img/text-blog-bg.png);}

.work-and-education-section {
    position: relative;
    background-size: cover;
    background-position: center;
}