.play-icon, .boxed-btn, .owl-dots div.active,.social-links a:hover, .single-service-item:hover:after, .single-service-item:hover, input[type=submit], button[type=submit],.nav_menu li a:hover, ul.pagination li.active a, .twist-faqs .panel-title a:after, h2.comment-title:after, .comment-form h2:after, .mainmenu li li:hover > a {
    background-color: #F62459;
}

.service-icon, .promo-icon, .testimonial-icon, .single-blog-box a, .error h1, .blog-desc a, .portfolio-filter li.active, .mainmenu li:hover > a, .mainmenu li.mega-menu ul h5, .mainmenu li.mega-menu ul li a:hover {
    color: #F62459;
}

.register-now-form {
    border-top: 10px solid #F62459;
}

.social-links a:hover {
	border-color: #F62459;
}