@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i');

body {
	font-family: 'Noto Sans', sans-serif;
	color: #888888;
}

h1, h2, h3, h4, h5, h6, input[type="submit"] {font-family: 'Zilla Slab', serif;}

a:hover, a:focus {text-decoration: none;}
input:focus, button:focus, textarea:focus {outline: none;}
img {max-width: 100%; height: auto;}


.slide-bg-1 {background-image: url(../img/slide-bg.jpg);}
.slide-bg-2 {background-image: url(../img/slide-bg-2.png);}
.slide-bg-3 {background-image: url(../img/slide-bg-3.jpg);}
.services-bg:before {background-image: url(../img/services-bg.jpg);}
.section-bg-1 {background-image: url(../img/section-bg.jpg);}
.section-bg-2 {background-image: url(../img/testimonial-bg.jpg);}
.section-bg-3 {background-image: url(../img/section-bg-3.jpg);}
.section-bg-4 {background-image: url(../img/section-bg-2.jpg);}
.breadcromb-bg-1 {background-image: url(../img/section-bg-4.jpg);}
.breadcromb-bg-2 {background-image: url(../img/section-bg-4.jpg);}
.breadcromb-bg-3 {background-image: url(../img/section-bg-4.jpg);}

.logo {
    font-size: 20px;
    font-weight: 700;
    margin-top: 11px;
}

.header-area a, .search-icon {
    color: #333;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
    position: relative;
}

.mainmenu li a {
    display: block;
    padding: 16px;
}

.header-area {
    font-size: 16px;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
}

.search-icon {
    margin-top: 15px;
    display: inline-block;
}

.single-slide-item {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.single-slide-item:after {position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: #000;content: "";opacity: .66;z-index: -1;}

.slide-text, .slide-text a, .slide-text h2 {
    color: #fff;
}

.slide-text h2 {
    font-size: 60px;
}

.slide-text h2 span {
    font-weight: 300;
    font-style: italic;
}

.video-btn {
    display: block;
    position: relative;
    margin: 30px 0;
}

.play-icon {
    background: #0bbbc1;
    position: absolute;
    line-height: 55px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    height: 60px;
    width: 60px;
}

.boxed-btn {
    background-color: #0bbbc1;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 50px;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
}

.slide-text {
    font-size: 16px;
    margin: 160px 0;
}

.header-area.header-absolute {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
}

.header-area.header-absolute a, .header-absolute .search-icon {
    color: #fff;
}


.owl-carousel .owl-item .slide-text img {
    width: auto;
    display: inline-block;
}

.homepage-slides .owl-nav div {
    position: absolute;
    left: 8%;
    top: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    margin-top: -20px;
}

.homepage-slides .owl-nav div.owl-next {
    left: auto;
    right: 8%;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: 700;
    line-height: 1.3;
}

body {
    line-height: 1.8;
}

.single-promo-box {
    margin-top: 30px;
}

.promo-icon {
    font-size: 30px;
    color: #0bbbc1;
    margin-bottom: 12px;
}

.single-promo-box h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.space-90 {
    height: 90px;
}
.space-70 {
    height: 70px;
}

.space-45 {
    height: 45px;
}

.section-padding {
    padding: 100px 0;
}

.tile-gallery {
    position: relative;
    height: 680px;
    margin-left: 30px;
}

.tile-gallery img {
    border-radius: 5px;
    box-shadow: 3px 4px 9px #d4d4d4;
    position: relative;
    z-index: 1;
}

.tile-gallery img:nth-child(2) {
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 2;
}

.tile-gallery img:nth-child(3) {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.single-service-item {
    position: relative;
    padding-left: 100px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: block;
    color: #888;
}

.service-icon {
    width: 85px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    color: #0bbbc1;
    font-size: 40px;
    text-align: center;
}

.single-service-item:hover {
    background-color: #0bbbc1;
    color: #fff;
}

.single-service-item:hover h3, .single-service-item:hover .service-icon {
    color: #fff;
}

.single-service-item
 h3 {
    font-size: 20px;
}

.single-service-item:hover:after {
    position: absolute;
    left: 100%;
    top: 0;
    width: 5000%;
    height: 100%;
    content: "";
    background-color: #0bbbc1;
}

.services-bg {
    overflow: hidden;
    position: relative;
}

.services-bg:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 51.15%;
    content: "";
}

.service-icon-table {
    width: 100%;
    height: 100%;
    display: table;
}

.service-icon-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.single-skill-bar {
    text-align: center;
}

.single-skillbar-inner {
    position: relative;
}

.skil-cound-no {
    font-size: 48px;
    font-weight: 700;
    color: #333;
    left: 0;
    width: 100%;
    top: 50%;
    line-height: 50%;
    margin-top: -25px;
    position: absolute;
}

.single-skill-bar h3 {
    margin-top: 25px;
}

.single-skill-bar {
    margin-top: 40px;
}

.black-overlay, .black-overlay h1, .black-overlay .boxed-btn {
    color: #fff;
}

.section-padding {
    background-size: cover;
    background-position: center;
}

.black-overlay {
    position: relative;
    z-index: 2;
    100
}

.black-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: "";
    opacity: .7;
    z-index: -1;
}

.overlay-btn-margintop .boxed-btn {
    margin-top: 40px;
}

/* portfilio bg */
.portfolio-bg-1{background-image: url(../img/portfolio-1.jpg);}
.portfolio-bg-2{background-image: url(../img/portfolio-2.jpg);}
.portfolio-bg-3{background-image: url(../img/portfolio-3.jpg);}
.portfolio-bg-4{background-image: url(../img/portfolio-4.jpg);}

.single-portfolio-item {
    height: 310px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    margin: 15px 0;
    box-shadow: 3px 3px 11px #e2e2e2;
}

.portfolio-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    font-size: 20px;
    transition: .2s;
    opacity: 0;
    visibility: hidden;
}

.portfolio-hover:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    opacity: .7;
    z-index: -1;
}

.portfolio-hover-table {
    display: table;
    width: 100%;
    height: 100%;
}

.portfolio-hover-tablecell {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.portfolio-hover h4, .portfolio-hover a {
    color: #fff;
}

.portfolio-hover h4 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.portfolio-hover {}

.single-portfolio-item:hover .portfolio-hover {
    visibility: visible;
    opacity: 1;
}

.single-portfolio-item.large {
    height: 650px;
}

.no-padding-top {
    padding-top: 0;
}

.team-list {
    margin-top: 70px;
}

.single-team-item {
    background: #fbfbfb;
    padding: 30px;
    text-align: center;
}

.owl-carousel .owl-item .single-team-item img {
    display: inline-block;
    width: auto;
}

.single-team-item img {
    border-radius: 50%;
}

.single-team-item h4
 span {
    display: block;
    color: #888888;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 6px;
}

.single-team-item h4 {
    margin: 30px 0 25px;
}

.owl-dots div {
    background: #eeeeee;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
}

.owl-dots {
    text-align: center;
    margin-top: 30px;
}

.owl-dots div.active {
    background-color: #0bbbc1;
}

.testimonial-list {
    margin-top: 70px;
}

.single-testimonial-item {
    background: #fff;
    color: #000;
    padding: 30px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Zilla Slab', serif;
    font-style: italic;
    text-align: center;
}

.testimonial-icon {
    color: #0bbbc1;
    font-size: 40px;
    margin-bottom: 20px;
}

.single-testimonial-item h5 {
    margin-top: 25px;
    margin-bottom: 10px;
}

.single-testimonial-item h5 span {
    display: block;
    font-weight: normal;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-size: 12px;
}

.owl-carousel .owl-item .single-logo-item img {
    width: 100%;
    margin: 0 auto;
    ck; */
}

.single-logo-item {
    display: table;
    width: 100%;
    height: 70px;
}

.logo-item-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.footer-area {
    background: #f5f5f5;
    padding: 80px 0;
}

.footer-area ul {
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 2;
    margin-top: 10px;
}

.footer-area ul a {
    color: #000;
}

.footer-area h3 {
    font-size: 20px;
    margin-top: 20px;
}

.sicial-links a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 1px solid #000;
    margin-right: 2px;
    text-align: center;
    border-radius: 50%;
    line-height: 34px;
    color: #000;
    font-size: 16px;
}

.sicial-links a:hover {
    background-color: #0bbbc1;
    color: #fff;
    border: 1px solid #fff;
}

.no-padding {
    padding: 40px 0 15px;
}


/* Home Page - 2 css start */

.hero-area {
    background-image: url(../img/hero-bg.jpg);
}

.hero-area {
    background-size: cover;
    background-position: center;
    background-color: #333;
    padding-top: 180px;
    padding-bottom: 130px;
}

.hero-text {
    font-size: 16px;
    margin-top: 130px;
}

.hero-text h2 {
    font-size: 45px;
    color: #fff;
    line-height: 48px;
    margin-bottom: 22px;
}

.register-now-form {
    background: #fff;
    padding: 60px;
    border-top: 10px solid #0bbbc1;
}

input, button, textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
}

input [type=submit],
 button [type=submit] {
    width: auto;
    border: none;
    background-color: #0bbbc1;
}

input[type="submit"] {
    background-color: #0bbbc1;
    font-weight: 700;
}

input[type="text"], input[type="email"], input[type="password"] {
    color: #000;
}

.register-now-form p {
    margin-bottom: 20px;
}

.register-now-form h3 {
    margin-top: -10px;
    margin-bottom: 50px;
}

.register-now-form h3
 span {
    color: red;
}

.register-now-form p:last-child {
    margin-bottom: 0;
}


.section-gray-bg {
    background-color: #fbfbfb;
}

.ticker-text {
    background: #2f2f2f;
    color: #fff;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 50px;
    margin-bottom: 9px;
}

.margin-20 {
    margin: 20px 0;
}

.service-box .service-icon {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 45px;
    height: 80px;
    line-height: 20px;
}

.service-box h2 {
    font-size: 20px;
    margin: 20px 0;
}

.service-box {
    margin-bottom: 50px;
    padding: 24px 20px;
}

.service-box:hover {
    background-color: #fafafa;
}

.margin-80 {
    margin: 80px 0;
}

.theme-2 .single-team-item {
    box-shadow: 0 0 8px #f1f1f1;
    margin: 4px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.theme-2 .single-team-item:hover {
    box-shadow: 0 0 0;
    border: 1px solid #0bbbc1;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.single-blog-box {
    box-shadow: 0 0 5px #f1f1f1;
    padding: 20px;
}

.single-blog-box a {
    color: #0bbbc1;
}

.single-blog-box a i.fa {
    padding-left: 5px;
}

.single-blog-box h3 {
    font-size: 18px;
}

.footer-area.dark-bg {
    background-color: #131313;
}

.footer-area.dark-bg, .footer-area.dark-bg a, .footer-area.dark-bg h3 {
    color: #fff;
}

.dark-bg .sicial-links a {
    border-color: #fff;
}

/* About page css */

.breadcromb-area {
    padding-top: 180px;
    padding-bottom: 130px;
}

.breadcromb-area, .breadcromb-area a, .breadcromb-area h2 {
    color: #fff;
}

.breadcromb-area h2 {
    font-size: 36px;
}

.breadcromb-area i.fa {
    padding: 0 7px;
}

.black-overlay h4 {
    color: #fff;
}

.service-icon-2 {
    margin-bottom: 15px;
}


.widget {
    background-color: #fafafa;
    padding: 30px;
    margin-bottom: 30px;
}

.widget .boxed-btn {
    border-radius: 0;
    width: 100%;
    text-align: center;
    padding: 12px;
    margin-top: 28px;
}

.widget.nav_menu {
    padding: 0;
    background-color: transparent;
}

.nav_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav_menu li a {
    background: #fafafa;
    display: block;
    margin-bottom: 10px;
    padding: 15px 37px;
    color: #333;
    font-weight: 700;
    font-family: 'Zilla Slab', serif;
}

.nav_menu li a:hover {
    background-color: #0bbbc1;
    color: #fff;
}

.service-description
 h3 {
    margin-top: 40px;
}

.service-description {
    padding-left: 20px;
}

.portfolio-filter {
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    margin: 0 0 50px;
    font-size: 16px;
    color: #333;
    text-align: center;
    list-style: none;
}

.portfolio-filter li {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
}

.portfolio-filter li.active {
    color: #0bbbc1;
}